.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icon--avatar {
    width: 50px;
    height: 50px;
}

.card {
    min-width: 10rem;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}